jupyter
pandas
sklearn
scikit-learn
tensorflow
keras
matplotlib
seaborn
numpy
requests
fastparquet
h3pandas
h3
folium
geopandas
pyproj
pyarrow
osm2geojson
geojson
plotly
torch
torchvision
shapely
gym
random
keras-rl2
re
